.board{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-collapse: collapse;
}

.cell{
    height:25px;
    width:25px;
    margin:1px; 
    box-sizing: border-box;
    text-align: center;
    font-size:18px;
    background-color: rgb(170, 221, 223);
    color: red;
}

.row{
    background-color:rgb(231, 213, 213);
}

td:first-child {
    border-left:solid;
  }
  td:nth-child(3n) {
    border-right:solid ;
  }
  tr:first-child {
    border-top:solid;
  }
  tr:nth-child(3n) td {
    border-bottom:solid ;
  }

.button{
    width:60px;
    margin: 20px 10px auto 10px;
    background-color: aquamarine;
}