.game{
    display:grid;
    position:absolute;
    gap:1rem;
    grid-template-columns: repeat(auto-fit,1rem);    
}

.cell{
    position:relative;
    width:30px;
    margin:1px; 
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(170, 221, 223);
    color: red;
}

.row{
    display:block;
    gap:1rem;
    position: relative;
    border:1px solid;
    left: 50%;
    transform: translate(-50%);
    background-color:rgb(231, 213, 213);
}
