.board {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border-collapse: collapse;
}
p{
  
  font-size:18px;
}

.cell {
  height: 2.4rem;
  width: 2.4rem;
  margin: 1px;
  border:0px;
  box-sizing: border-box;
  text-align: center;
  font-size:32px;
  background-color: hsl(0, 2%, 95%);
  color: black;
}

.row {
  background-color: rgb(231, 213, 213);
}

td:first-child {
  border-left: solid hsl(0, 0%, 42%);
}
td:nth-child(3n) {
  border-right: solid hsl(0, 0%, 42%);
}
tr:first-child {
  border-top: solid hsl(0, 0%, 42%);
}
tr:nth-child(3n) td {
  border-bottom: solid rgb(121, 120, 120);
}
/* this button style from https://fdossena.com/?p=html5cool/buttons/i.frag*/
.button {
  display: inline-block;
  width: 5rem;
  transform: translate(-5%);
  padding: 0.3em 1em;
  margin-top: 1em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color:white;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}

.button:hover {
  border-color: blue;
}

@media all and (max-width: 30em) {
  .button {
    display: block;
    margin: 0.2em auto;
  }
}
/*-------------------------------*/
